/**
 * Application Style
 *
 * @author Bruno Lebtag <brlebtag@gmail.com>
 * @version 1.0.0
 */

/* Centralized Component
   ========================================================================== */
.centralized {
    /* Display and Box Model */
    display: table;

    > * {
        /* Display and Box Model */
        display: table-cell;

        /* Other */
        vertical-align: middle;
    }
}

/* Modifiers and Status */

.centralized.wider {
    /* Display and Box Model */
    width: 100%;
}

.centralized.center {
    /* Display and Box Model */
    margin: 0 auto;
}

/* Miscellaneous
   ========================================================================== */

body {
    /* Color */
    background: #fff;
}

.app {

    /* Display and Box Model */
    padding: 30px 15px;
    max-width: 60rem;
    margin: 0 auto;
}

.text-center {
    /* Text */
    text-align: center;
}
.workout-form {
    /* Display and Box Model */
    min-height: 140px;
}

.workout-form, .workout-list {
    /* Display and Box Model */
    width: 100%;
    margin-top: 30px;
}

.workout-form-content {
    /* Text */
    text-align: center;
}

.workout-list-content table {
    /* Display and Box Model */
    width: 100%;
}

tbody td .mdl-button {
    /* Other */
    visibility: hidden;
}

tbody tr:hover .mdl-button {
     /* Other */
    visibility: visible;
}

.workout-calendar {
    /* Display and Box Model */
    display: inline-block;
}

.workout-form-content > .centralized .column {
    padding: 0px 5px;
}

.workout-form-content > .centralized {
    @media screen and (max-width: 45em) {
        /* Display and Box Model */
        display: block;

        > * {

            /* Display and Box Model */
            display: block;
            margin: 20px 0;
        }
    }
}